<style>
  #sendMessage {
    position: fixed;
    top: 500px;
  }
  .box {
    width: 370px;
  }
  .outer {
    width: 100%;
    overflow: auto;
  }
</style>
<div class="container" style="width:40%; height:80%; float:left">
  <div>
    <h1>{{username}}</h1>
    {{checkGetUsers}}
    <div class="outer">
      <ul style="list-style-type:none">
        <li *ngFor="let message of messages"><a routerLink="/main-page/contact-details/{{message.user.username}}"><small>{{message.user.username}}</small></a><br>{{message.message}}</li> 
      </ul>
    </div>
  </div>
  <div class="box" id="sendMessage">
    <textarea #textArea class="form-control" [(ngModel)]="text"></textarea>
    <a class="btn btn-primary" (click)="onSend()">Send</a>
  </div>
  {{checkSendMessage}}
  {{checkGetMessages}}
</div>
