<div class="container" style="width: 40%; float: left">
    <h1><u>Add new forum</u></h1>
    <form>
        <div>
            <label>Title</label>
            <input  type="text" class="form-control" name="tName" [(ngModel)]="title">
        </div>
        <div>
            <label>Invite users</label>
            <textarea class="form-control" name="uName" [(ngModel)]="usernames"></textarea>
            {{invalidUsersMessage}}
        </div>

        <div>
            <label>Description</label>
            <textarea class="form-control" name="dName" [(ngModel)]="description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary"
                (click)="onCreate()">Create
        </button>
        <a routerLink="/forum" class="btn">Cancel</a>
    </form>
</div>

