<div class="container" style="width: 40%">
  <div><h2 style="float:left"><a routerLink="/login">Log in</a></h2></div>
  <div><h2>|<u>Create account</u></h2></div>
    <form>
      <div>
        <label>Firstname</label>
          <input type="text" class="form-control" [(ngModel)]="firstname" name="fName" required>
  
          <label>Lastname</label>
          <input type="text" class="form-control" [(ngModel)]="lastname" name="lName" required>
          
          <label>Username</label>
           <input type="text" class="form-control" [(ngModel)]="username" name="uName" required>
        
           <label>Password</label>
           <input type="password" class="form-control" [(ngModel)]="password" name="pass" required>
           <label>Confirm Password</label>
           <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="cPass" required>
           <button class="btn btn-success" (click)="onRegister()">Create account</button>
        </div>

          <div *ngIf="success" class="alert alert-success">{{success}}</div>
         
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>

          <div *ngIf="errorPassword" class="alert alert-danger">{{errorPassword}}</div>
        </form>
</div>
