<div class="container" style="width: 40%">
    <h1><u>Register</u></h1>
    <form>
        <div>
            <label>Username</label>
            <input type="text" class="form-control">
        </div>

        <div>
            <label>Email</label>
            <input type="email" class="form-control">

            <div>
                <label>Password</label>
                <input type="password" class="form-control">
            </div>

            <div>
                <label>Repeat Password</label>
                <input type="password" class="form-control">
            </div>

            <button class="btn btn-success" (click)="goForum()">Register</button>

        </div>
    </form>
